@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  @media screen and (max-width: 384px) and (max-height: 384px) {
    body {
      @apply dark:bg-black;
    }

    div {
      margin: 0.05rem !important;
      margin-top: 0.25rem !important;
      padding: 0.1rem !important;
    }

    h3 {
      font-size: 0.8rem !important;
      margin-bottom: 0.25rem !important;
      width: 100%;
      text-align: center;
    }

    button {
      min-height: 2rem !important;
      width: 100% !important;
    }

    img {
      max-height: 150px !important;
      width: auto !important;
    }

    button {
      padding: 0.25rem 0.5rem !important;
      font-size: 12px !important;
      height: auto !important;
      min-height: 32px !important;
      width: 100% !important;
    }
  }
}
